{{outlet}}

<form {{action addBookmark on="submit"}}>
  <h3>URL</h3>
  {{input type="text" value=website}}

  <h3>Nickname</h3>
  {{input type="text" value=nickname}}

  <button>Submit</button>

</form>


<h1>Bookmarks</h1>
{{#each model as |bookmark|}}

  <ul>
    <li>
      <h4>{{bookmark.nickname}}</h4>

      <p>{{bookmark.website}}</p>
    </li>
    </ul>
{{/each}}
